/* line 1, /Users/vudu/Sites/static/site-guitar-builder/source/css/build-tabs.css.scss */
#build {
  /* tab color */
  /* active tab color */
  /* hover tab color */ }
  /* line 2, /Users/vudu/Sites/static/site-guitar-builder/source/css/build-tabs.css.scss */
  #build .tab-content {
    border: 1px solid #ddd;
    padding: 20px;
    background: black; }
  /* line 13, /Users/vudu/Sites/static/site-guitar-builder/source/css/build-tabs.css.scss */
  #build .nav-tabs > li > a {
    background-color: #333333;
    border-color: #777777;
    color: #fff; }
  /* line 20, /Users/vudu/Sites/static/site-guitar-builder/source/css/build-tabs.css.scss */
  #build .nav-tabs > li.active > a, #build .nav-tabs > li.active > a:hover, #build .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: black;
    border: 1px solid #888888; }
  /* line 27, /Users/vudu/Sites/static/site-guitar-builder/source/css/build-tabs.css.scss */
  #build .nav-tabs > li > a:hover {
    border-color: #000000;
    background-color: #111111; }
