  body{padding-top:60px;}
  
  a.navbar-brand img{
    margin-top: -10px
  }
  #divPreview{
  position:relative;
  height: 368px;
  width:1000px;
  }
  #divPreview img{
  position:absolute;
  left:0;
  top:0;
  height: 368px;
  width:1000px;
  } 

  .form-group{
    border-bottom: 1px solid #eee;
  }

  legend{
   border-bottom: 2px solid #ccc;
  }