%h1.page-header 
  Quotes 
  %small general feedback from others
- quotes.each_with_index do |quote, idx|
  /{class: idx.odd? ? "blockquote-reverse" : nil }
  %blockquote
    %p
      %i.fa.fa-quote-left
      = quote
      %i.fa.fa-quote-right