%section#conciere
  .container
    %h2{"data-sr" => "enter top please, and hustle 20px"} Conciere service
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
      When you order a custom guitar a conciere will be assigned to your guitar and will orchestrate the process. You can call or email your conceire at any time.

    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
      Now that is service.  