%section#mockup
  .container
    %h2{"data-sr" => "enter top please, and hustle 20px"} Digital Mockup
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Use our tool chain to help you dream, design and build your guitar. All you need it Photoshop or Pixelmator and the open source tools we provide. 
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} If you would like, or you are not familiar with the tools, let us help you. That is what seperates Sharktail Guitars from the rest.

    %h4{"data-sr" => "wait 0.4s and then ease-in-out 100px"}       
      Pixelator/Photoshop
    = link_to "Links","#"      