%section#proto
  .container
    %h2{"data-sr" => "enter top please, and hustle 20px"} Physical Prototype
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
      If a picture is worth a 1000 words then a prototype is worth a million. 
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
      We'll use your order details to create a mockup, which we will send you to try on.     
        