/ *** START GALLERY SECTION ***
%section#gallery.bg-grey
  .container
    .row
      .col-md-12
        .title-light.text-center
          / TITLE
          %h2{"data-sr" => "enter left please, and hustle 20px"} 
            Mockups at multiple angles
          / CONTENT
          %p.col-md-6.col-md-offset-3{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
            A Shark sitting on your lap
      - %w[30singlemiddle 45leftsingle 45middlesingle 55].each do |img|
        .col-md-3{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
          %a.swipebox{:href => "/img/shark/angles/#{img}.png", :title => img}
            %img.img-responsive{:src => "/img/shark/angles/#{img}.png"}/
      / .col-md-3{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
      /   %a.swipebox{:href => "img/gallery/2.jpg", :title => "My Caption 2"}
      /     %img.img-responsive{:src => "img/gallery/2.jpg"}/
      / .col-md-3{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
      /   %a.swipebox{:href => "img/gallery/3.jpg", :title => "My Caption 3"}
      /     %img.img-responsive{:src => "img/gallery/3.jpg"}/
      / .col-md-3{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
      /   %a.swipebox{:href => "img/gallery/4.jpg", :title => "My Caption 4"}
      /     %img.img-responsive{:src => "img/gallery/4.jpg"}/
/ *** END GALLERY SECTION ***