.form-group
  %label.col-md-2.control-label= title
  .col-md-3
    - id = "#{id_for(title)}"
    %label{:for => id}
      %textarea{id: id, :name => id_for(title), :type => "text", :placeholder => title}
  .col-md-3
    %small.text-muted= hint