%h3 About

%h4 Who

%p Sharktail Guitars

%h4 What

%p Visual guitar building tools

%ul
  %li Pretty image
  %li Inventory of guitar parts

%h4 Why

%p One day I decided I wanted to build my own guitar. I documented the process, to help the builder, and these tools are the distillation of that process. I hope you find it useful.

%h4 
  %i.fa.fa-heart(style="color:firebrick")
  ,
  Sharktail Guitars