%h1 About

%h2 Who

Sharktail Guitars

%h2 What

Visual guitar building tools

%ul
  %li Pretty image
  %li Inventory of guitar parts

%h2 Why

One day I decided I wanted to build my own guitar. I documented the process, to help the builder, and these tools are the distillation of that process. I hope you find it useful.

%h3 Sharktail Guitars