- content_for :nav do
  %ul.nav.navbar-nav
    %li.active
      = link_to "About", "/about"
    %li= link_to "Virtual Guitar Build", "/build"

%h4 What is this?

%p Visual guitar building tools

%h5 Builder
%ul
  %li Visualize your guitar
  %li Inventory of guitar parts

%h5 2D tools
%ul
  %li Pixelmator tools for drawing the parts

%h4 Who is this for?

%ul
  %li Guitar builders
  %li Guitar players who want to build and/or design their own guitar


%h4 Why?

%p One day I decided I wanted to build my own guitar. 
%p
  I 
  = link_to "documented the process", "http://git.vudmaska.com/"
  , to help the builder, and these tools are the distillation (and extension of) that process. 
%p I hope you find it useful.


