- content_for :nav do
  %ul.nav.navbar-nav
    %li.active
      = link_to "About", "/about"
    %li= link_to "Virtual Guitar Builder", "/build"

%h1.fancy What is this?

%p Visual guitar building tools

%h5 Builder
%ul
  %li A virtual, dynamic, sharable representation of a guitar configuration
  %li Inventory of guitar parts necessary for builds

%h5 2D tools
%ul
  %li Pixelmator tools for drawing the (mostly wood) parts

%h5 Builder is open source
%p 
  Use it to 
  = link_to "build your own builder", "https://github.com/voodoo/site-guitar-builder"

%h1.fancy Who is this for?

%ul
  %li 
    %h5 Builders
    %ul
      %li Gather the necessary details for the builds
      %li Provide your own inventory that represents your opinions
      %li Build your own visual representations
      %li Visually document your builds - automatically adding content to your site for marketing purposes
  %li 
    %h5 Players 
    %ul
      %li Who want to build and/or design their own guitar
      %li Share your ideas with others - have others contribute and/or provide feedback
      %li Articulate your design in detail so the builder can bring it to life


%h1.fancy Why?

%p One day I decided I wanted to build my own guitar.
%p
  I 
  = link_to "documented the process", "http://git.vudmaska.com/"
  , to help the builder, and these tools are the distillation (and extension of) that process. 
%p 
  I hope you find them useful. 
%h5 
  %i.fa.fa-smile-o(style='color:teal;font-size:2em')
  Paul Vudmaska, Sharktail guitars

%hr/

%h4 PS

%p Right now, things are completely static - on purpose, there are great benefits to this.
%p In the future, Builder may be a sort of portal. Here are some of the use cases.

%h5 Builders

%ul
  %li Use the tools to document your builds in a visually appealling, easy way
  %li Be a recommended builder
  %li 'Builds' will be a little like a forum thread but more focused on the process
  %li Collaborate with the buyer and others
  %li Bid on builds

%h5 Buyers

%ul
  %li Have builders bid on your build
  %li Provide the highest price possible - allow builders to bid
  %li Thereby inverting the buying process



%h5 Both

%ul
  %li Use Builder &amp; Talk (forum) as a community for guitar enthusiasts
  %li Links between Talk and Builder will be practical and useful
  %li For example, profiles in Talk will have links to their virtual build (or actual build) - identifying what makes them tick in terms of guitars



