- content_for :head do
  %script(src="https://cdn.firebase.com/js/client/2.0.6/firebase.js")
  %script(src='/js/fb.js')
  %script(src='/js/all/log.js')


= image_tag '/img/rt/manta.png', class: 'rt', id: 'imgGit'
   


