- content_for :nav do
  %li= link_to "About", "/about"
  %li= link_to "Virtual Guitar Builder", "/"
  %li.active= link_to "Videos", "/videos"

%h1.page-header 
  Videos
  %small if a picture is worth a thousand words ...

/ .progress
/   .progress-bar.progress-bar-striped{:style => "width: 33%;"}
/     %span Getting started

.row
  .col-lg-7
    %h4.page-header 
      Getting started
      %small Get to know the virtual guitar designer
    %ul
      %li Dynamic Picture - click to change wood components
      %li The form - is linked to the picture - build your own designer
      %li Saving
      %li Sharing
  .col-lg-5
    .embed-responsive.embed-responsive-16by9
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/vdjJhzaCqoE", :width => "100%"}

  
%hr/

.row
  .col-lg-7
    %h4.page-header 
      Building your own virtual builder
      %small Fork the repo

    %ul
      %li Click "Fork me on Github"
      %li View the repo
      %li Fork the repo
      %li Install middleman
      %li Start the server
      %li Change the build Yaml
      %li See the changes

  .col-lg-5(style="vertical-align:center")
    .well
      %h2 Coming soon

  
%hr/

.row
  .col-lg-7
    %h4.page-header 
      Editing with the 2D tools
      %small Using Pixelmator

    %ul
      %li Get Pixelmator
      %li Download the file
      %li Intro to the layers
      %li Starting your own build
      %li Make a body shape
      %li Add wood
      %li Saving the parts 
  .col-lg-5.well
    %h2 Coming soon










