%ul.nav.navbar-nav
  %li
    %a{"data-scroll" => "", :href => "#builder"} Guitar Builder       
  %li
    %a{"data-scroll" => "", :href => "#body"} Body      
  %li
    %a{"data-scroll" => "", :href => "#neck"} Neck
  %li
    %a{"data-scroll" => "", :href => "#head"} Head  
  %li.active
    /(style="display:none")
    %a{:href => "#", class: 'aBookmarklet'} [Save]
  %li
    %small.navbar-text.text-muted.hidden-sm.hidden-xs &lt;-- Drag "[Save]" to your bookmarks 